body {
    background: #f8fafc;
}

/* PAGE HEADER */
.page-head h5 {
    font-weight: 600;
}

.page-head p {
    font-size: 14px;
    color: #6b7280;
}

/* CARD */
.course-card {
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
    padding: 16px;
    height: 100%;
}

/* ICON */
.course-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #eef2ff;
    color: #4f46e5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* META */
.course-meta {
    font-size: 13px;
    color: #6b7280;
}

/* STATUS */
.status {
    font-size: 11px;
    padding: 3px 8px;
    border-radius: 20px;
}

.active {
    background: #dcfce7;
    color: #15803d;
}

.draft {
    background: #e5e7eb;
    color: #374151;
}



/* ============== course view page ================ */

.card-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .06);
}

.course-icon {
    width: 60px;
    height: 60px;
    background: #eef2ff;
    color: #4f46e5;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.meta {
    font-size: 14px;
    color: #6b7280;
}

.status {
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
}

.active {
    background: #dcfce7;
    color: #15803d;
}

.draft {
    background: #e5e7eb;
    color: #374151;
}


input{
    border: 1px solid orange !important;
}